.container{
  min-height: 100vh;
  height: 100vh;
  background-color: #181824;
}

.pict{
  height: 40%;
  background-image:linear-gradient(to top, #4949aa89, #4e4eba91), url('../../public/imgs/avi-richards-Z3ownETsdNQ-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  margin: 0%;
}

.todo{
  width: 40%;
  height: 60%;
  position: absolute;
  top: 15%;
  left: 30%;
}

.title{
  letter-spacing: 0;
  color: aliceblue;
  font-size: 3vw;
  margin-bottom: 20px;
}

.createToDo{
  width: 100%;
  height: 4vw;
  background-color: #4a4a6e;
  border-radius: 4px;
  margin-bottom: 3vw;
}

.createToDo input{
  height: 100%;
  width: 100%;
  padding-left: 5%;
  background-color: #18182400;
  border: none;
  outline: none;
  font-size: 1.2vw;
  color: aliceblue;
}

.createToDo button{
  display: none;
  width: 0%;
  height: 100%;
}

.homework{
  /* border: 2px solid; */
  display: flex;
  width: 100%;
  height: 4vw;
  background-color: #4a4a6e;
  border-bottom: 1px solid rgba(128, 128, 128, 0.456);
}

.checkDiv{
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkDiv button{
  border-radius: 100%;
  width: 30px;
  height: 30px;
  border: 1px solid grey;
  cursor: pointer;
}

.checked{
  background-image:url('../../public/imgs/icons/check-regular-24.png');
  background-color: #3ecc5f;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position-y: bottom; */
}

.noChecked{
  background-color: #18182400;
}

.pHomework{
  display: flex;
  align-items: center;
}

.hwChecked{
  color: rgba(240, 248, 255, 0.395);
  font-size: 1.2vw;
  text-decoration-line: line-through;
}

.hwNoChecked{
  color: aliceblue;
  font-size: 1.2vw;
  text-decoration: none;
}

.footerHomeworks{
  display: flex;
  width: 100%;
  height: 3vw;
  background-color: #4a4a6e;
}

.items{
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items p{
  color: rgba(240, 248, 255, 0.338);
}

.filters{
  width: 60%;
  display: flex;
  justify-content: center;
}

.filters button{
  background-color: #18182400;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  color: rgba(240, 248, 255, 0.338);
}

.filters button:hover{
  color: rgba(240, 248, 255, 0.413);
}

.clear{
  width: 25%;
  display: flex;
  justify-content: center;
}

.clear button{
  background-color: #18182400;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  color: rgba(240, 248, 255, 0.338);
}

.clear button:hover{
  color: rgba(240, 248, 255, 0.413);
}

.create{
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: #181824;
  text-decoration: none;
  padding: 10px 20px;
  color: aliceblue;
}

.create:hover{
  background-color: #28283c;
}

.linkCreate{
  text-decoration: none;
  color: aliceblue;
  font-size: 1vw;
  padding: 0.5vw;
  background-color: #4a4a6e;
  border: none;
  outline: none;
  cursor: pointer;
}

.contCreateToDo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inpCreate{
  padding: 30px 20px;
  width: 100%;
  font-size: 1.3vw;
  background-color: #636385;
  outline: none;
  border: none;
  color: aliceblue;
  border-radius: 2px;
}

.buttonCreate{
  margin-top: 1vw;
  width: 6vw;
  height: 2vw;
  font-size: .8vw;
  background-color: #2f5e57;
  border: none;
  outline: none;
  border-radius: 3px;
  color: aliceblue;
  cursor: pointer;
  font-weight: 500;
}

.buttonCreate:hover{
  background-color: #3d7a71 ;
}

.buttonCreate:active{
  background-color: #2f5e57;
}